.analytics-chart-modal {
    position: relative;
}
.chart-loader{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    text-align: center;
}
.chart-loader img{
    /*height:100%;*/
}