/*BEGIN Loading Panel CSS*/
.loadingPanel {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000 50% 50% no-repeat;
    opacity: 0.8;
}

body.loading {
    overflow: hidden;
}

body.loading .loadingPanel {
    display: block;
}

/*END Loading Panel CSS*/